body {
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid gray;
}

.header .main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header .main-title .logo {
    display: flex;
    align-items: center;
}

.header .main-title img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid black;
}

.header .main-title .title-name {
    font-size: 48px;
    font-weight: 700;
}

.header .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.header .links a {
    font-size: 20px;
    text-decoration: none;
}