body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
}

.header,
.site-content {
    margin: 0px 40px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid gray;
}

.header .main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header .main-title .logo {
    display: flex;
    align-items: center;
}

.header .main-title img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid black;
}

.header .main-title .title-name {
    font-size: 50px;
    font-weight: 900;
}

.header .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.header .links a {
    font-size: 20px;
    text-decoration: none;
}

.site-content {
    flex: 1 0 auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: gray;
}

.footer p {
    font-size: 16px;
    color: white;
    font-weight: 100;
}